*{ margin:0; padding:0; border:0;}
body{ font-size:14px; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
li{ list-style:none;}
a { color:#333; text-decoration:none;}
a:hover {color: #333; text-decoration:none;}



.banner { width:100%; height:640px; background:url(../images/banner.jpg) center top no-repeat;}
.header { width:1100px; margin:0 auto; overflow:hidden;}
.navigation { float:left; font-family: Arial; font-size: 14px; color: #CC0000; line-height: 30px; border-bottom: 1px dotted #C9C9C9; width: 800px; text-align: center;}
.navigation a { color: #CC0000; margin: 0px 7px; text-decoration:none;}
.sou { width:159px; float:right;}
.ml10 { line-height:31px;}
.fl { display:inherit; float: left;}
.button2 { background: url(http://images.china.cn/images1/ch/2016firsttop/a1.gif) no-repeat; width: 25px; height: 20px; border: none;}
.logo_box { width:1100px; padding:10px 0; margin:0 auto; overflow:hidden;}
.logo { float:left; margin-right:10px;}
.logo2 { float:left;}
.ad1 { float:right;}
.nav_box { width:1100px; margin:0 auto 8px; background-color:#2b54a4; overflow:hidden;}
.nav_box ul { padding-left:12px;}
.nav_box li { float:left; font-size:19px; line-height:70px; padding:0 15px;}
.nav_box li a { color:#fff;}

.main2 { margin:0 auto 15px; overflow:hidden; width:1100px; height:445px; background-color:#FFFFFF;}
.left { width:632px; margin-right:32px; float:left; position:relative; padding-top:10px;}
.hot_img { height:386px; position:relative; display:none;}
.hot_img_back { left:0; bottom:0; width:632px; height:56px; position:absolute; z-index:1001; background-color:#000; filter: alpha(opacity=60); opacity: 0.6; -moz-opacity: 0.6;}
.hot_img_text { left:20px; width:612px; bottom:0; line-height:56px; position:absolute; z-index:1002; font-size:18px; font-weight:bold;}
.hot_img_img { left:0; top:0; position:absolute; z-index:1000;}
.hot_img a { color:#fff; text-decoration:none;}
.hot_img a:hover {color: #fff; text-decoration:underline;}
.hot_img_hover { display:block;}
.dian { width:156px; padding-left:14px; height: 12px; position:absolute; overflow: hidden; right: 231px; bottom: -40px; z-index: 2000;}
.dian li { float: left; margin-right: 6px; width: 12px; height: 12px; margin-right:14px; background-color:#afa194; border-radius:10px;cursor:pointer}
.dian li.hover { width: 12px; height: 12px; background-color:#9a7756;}
.right { width:436px; float:left;}
.right h1 { font-size:22px; font-weight:normal; line-height:42px; margin-bottom:12px;}
.right span { font-size:14px; line-height:26px; display:block; padding-bottom:10px;}
.right a { color:#000002;}
.right p { text-align:right; margin-top:8px; margin-right:16px;}

.roll_box { width:1100px; height:54px; margin:0 auto 18px; overflow:hidden; position:relative;}
.ad { width: 910px; overflow: hidden; font-size: 18px; position:absolute; left:190px; top:0;}
.ad .roll {/*width:99999999px;*/width:8000%; height:54px;}
.ad .roll div{ float:left;}
.ad .roll ul{float:left; height:54px; overflow:hidden; zoom:1; }
.ad .roll ul li{float:left; line-height:54px; padding-left:15px; list-style:none; font-size:18px;}
.ad .roll li a{color:#444444;}

.roll_box2 { width:1100px; height:54px; margin:0 auto 18px; overflow:hidden; position:relative;}
.add2 { width: 910px; overflow: hidden; font-size: 18px; position:absolute; left:190px; top:0;}
.add2 .roll2 {/*width:99999999px;*/width:8000%; height:54px;}
.add2 .roll2 div{ float:left;}
.add2 .roll2 ul{float:left; height:54px; overflow:hidden; zoom:1; }
.add2 .roll2 ul li{float:left; line-height:54px; padding-left:15px; list-style:none; font-size:18px;}
.add2 .roll2 li a{color:#444444;}

.roll_box3 { width:1100px; height:54px; margin:0 auto 18px; overflow:hidden; position:relative;}
.add3 { width: 910px; overflow: hidden; font-size: 18px; position:absolute; left:190px; top:0;}
.add3 .roll3 {/*width:99999999px;*/width:8000%; height:54px;}
.add3 .roll3 div{ float:left;}
.add3 .roll3 ul{float:left; height:54px; overflow:hidden; zoom:1; }
.add3 .roll3 ul li{float:left; line-height:54px; padding-left:15px; list-style:none; font-size:18px;}
.add3 .roll3 li a{color:#444444;}


.ad2 { width:1100px; margin:0 auto 18px;}
.box2 { width:1100px; margin:0 auto; overflow:hidden;}
.left2 { width:630px; margin-right:36px; float:left;}
.nav2 { overflow:hidden;}
.nav2 span { width:210px; line-height:36px; font-size:20px; color:#000000; background-color:#dfeff7; text-align:center; display:block; float:left; cursor:pointer;}
.nav2 span.hover { color:#FFF; background-color:#2b54a4;}
.block2 { overflow:hidden;}
.block2 h5 { width:100%; font-size:20px; line-height:54px; font-weight:normal; float:left;}
.block2 img { width:242px; float:left; margin-right:26px;}
.block2 p { width:362px; float:left; font-size:14px; line-height:32px; margin-top:10px;}
.right2 { width:434px; float:left;}
.title2 { padding-bottom:5px;}
.list2 { font-size:14px; line-height:32px;}
.list3 { overflow:hidden; padding-bottom:18px; border-bottom:dashed 1px #999; margin-bottom:18px;}
.list3 img { width:330px; float:left; margin-right:35px;}
.list3 h6 { width:735px; font-size:20px; line-height:74px; font-weight:normal; float:left;}
.list3 p { width:735px; float:left; font-size:14px; line-height:32px; margin-top:10px;}

.title4 { padding-bottom:18px;}

.left4 { width:666px; float:left;}
.list4 { overflow:hidden; padding-top:10px;}
.list4 li { width:305px; margin-right:28px; float:left; font-size:14px; line-height:32px;}
.right4 { width:434px; float:left; margin-bottom:5px;}
.ad3 { padding-top:5px;}

.flash { width:1100px; height:618px; margin-bottom:18px; overflow:hidden; position:relative;}
.flash p { width:1100px; height:618px; position:relative; display:none;}
.flash p.hover { display:block;}
.flash span { width:1100px; height:618px; position:absolute; left:0; top:0; background:url(../images/play.png) center center no-repeat;}
.flash .nav6 { width:508px; height:618px; position:absolute; right:-466px; top:0; z-index:1000; background-color:#2e3338;}
.flash .nav6 .btn { cursor:pointer; float:left; transform:scaleX(-1);}
.flash .nav6 .btn2 { cursor:pointer; float:left; transform:scaleX(1);}
.flash .nav6 .over6 { width:460px; height:570px; margin-top:24px; float:left;overflow-y:scroll;}
.flash .nav6 .over6 li { overflow:hidden; padding-bottom:20px; border-bottom:dashed 1px #fff; margin-bottom:20px;}
.flash .nav6 .over6 img { width:220px; margin-right:15px; float:left;}
.flash .nav6 .over6 strong { width:200px; font-size:14px; line-height:32px; color:#fff; float:left; display:block; font-weight:normal;}
.flash .nav6 .over6 strong a { color:#fff;}
.flash .nav6 .over6 b { color:#ff2528; font-weight:normal; font-size:14px; line-height:32px;}
.flash .nav6 .over6 b a { color:#ff2528;}

.left5 { width:634px; float:left; margin-right:32px;}
.ad4 { overflow:hidden; padding-bottom:18px;}
.list5 { overflow:hidden; padding-bottom:18px; border-bottom:dashed 1px #999; margin-bottom:18px;}
.list5 img { width:260px; float:left; margin-right:25px;}
.list5 h6 { width:349px; font-size:20px; line-height:34px; font-weight:normal; float:left;}
.list5 p { width:349px; float:left; font-size:14px; line-height:27px; margin-top:10px;}
.list6 { overflow:hidden; margin-bottom:25px;}
.list6 img { width:260px; float:left; margin-right:25px;}
.list6 h6 { width:349px; font-size:20px; line-height:34px; font-weight:normal; float:left;}
.list6 p { width:349px; float:left; font-size:14px; line-height:27px; margin-top:10px;}
.right5 { width:434px; float:left;}
.logo_li { overflow:hidden; margin-top:12px;}
.logo_li li { float:left; border:solid 1px #ccc; border-radius: 3px; margin-left:18.5px; margin-bottom:25px;}
.logo_li li img {border-radius: 3px; display:block;}
.right5 p { overflow:hidden; margin-bottom:18px;}
.right5 span { font-size:14px; line-height:32px; display:block;}

.ad5 { width:1100px; margin:0 auto 0; padding-bottom:18px; border-bottom:dashed 1px #999;}

.title3 { margin-top:18px; font-size:22px; line-height:34px; margin-bottom:18px; border-left:solid 6px #f3d72e; padding-left:25px;}
.left6 { width:665px; padding-right:30px; float:left;}
.left6 span { font-size:20px; line-height:34px; margin-right:25px; float:left; display:block;}
.right6 { width:405px; float:left;}
.right6 span { font-size:20px; line-height:34px; margin-right:25px; float:left; display:block;}
.cent6 { width:1100px; float:left;}
.cent6 span { font-size:20px; line-height:34px; margin-right:25px; float:left; display:block;}

.flash2 { width:434px; height:262px; overflow:hidden; position:relative;}
.slides { overflow:hidden; position:absolute; width:10000px; z-index:2;}
.slides a { float:left;}
.slides li { float:left; width:434px; height:262px;}
.slides li a { position:relative;}
.slides li a .tit { width:424px; height:36px; text-align:center; color:#FFF; font-size:14px; line-height:36px; padding-left:10px; position:absolute; top:226px; left:0;}
.slides li a .tit:hover { color:#f00;}
.slides li a .tit_bg {  width:434px; height:36px; text-align:center; background-color:#000; filter:alpha(opacity=50);-moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; position:absolute;  top:226px; left:0;}
	
.f_left{ width:60px; height:262px; background:url(../images/left.png) no-repeat; left:0; top:0; position:absolute; z-index:9999; cursor:pointer; display:block;}
.f_right{ width:60px; height:262px; background:url(../images/right.png) no-repeat; right:0; top:0; position:absolute; z-index:9999; cursor:pointer; display:block;}

.footer { margin-top:18px; padding:40px; text-align:center; background-color:#eeeeee;}
.footer p { font-size:20px; line-height:40px;}



.list_left { width:780px; float:left;}
.list_left .list_title { margin-bottom:20px; font-size:22px;  color:#004d96; letter-spacing:3px;}
.list_photo { width:766px; float:left; overflow:hidden;}
.list_photo_block { width:225px; height:200px; float:left; padding-right:30px; line-height:30px; font-size:14px;}
.list_photo_block img { padding-bottom:5px;}

.list_text2 { width:730px; float:left;}
.list_text2 ul { border-bottom:dashed 1px #95bbe2; padding-bottom:20px; margin-bottom:20px;}
.list_text2 li { line-height:34px; overflow:hidden;}
.list_text2 li b { width:630px; float:left; display:block; font-weight:normal;}
.list_text2 li span { width:100px; float:left; display:block;  text-align:right;}


#autopage { color: #115d8f; font-weight: bold; clear: both; padding-bottom:5px; padding-top:10px;}
#autopage span { color: #115d8f; font-weight:normal; border: 1px solid #115d8f; padding: 5px; }
#autopage a { color: #666; font-weight:normal; border: 1px solid #DDDDDD; padding: 5px; }
#autopage a:hover { color: #fff; font-weight:normal; border: 1px solid #DDDDDD; background-color:#115d8f; padding: 5px; }

.main_list { margin:0 auto; overflow:hidden; width:1100px; }

.list_right { width:320px; float:left;}
.list_right .list_title2 { font-size:22px;  color:#004d96; letter-spacing:3px; margin-bottom:20px;}
.list_text { overflow:hidden; margin-bottom:30px;}
.list_text li { width:334px; float:left; font-size:16px; line-height:36px;}

.list_right .list_title3 { font-size:22px;  color:#004d96; letter-spacing:3px; margin-bottom:20px;}
.list_right .list_img { margin-bottom:30px; padding-right:30px; line-height:30px; font-size:14px;}
.list_right .list_img img { padding-bottom:5px;}

.tuijian { width:1100px; float:left;}
.tuijian .list_title { padding-left:30px; height:26px; margin-bottom:30px; line-height:26px; background:url(../images/zuobiao.png) no-repeat; font-size:22px;  color:#004d96; letter-spacing:3px;}
.tuijian_list { overflow:hidden; margin-bottom:50px;}
.tuijian_list b { display:block; float:left; width:250px; margin-right:100px; font-size:20px; line-height:34px;}
.tuijian_list span { display:block; float:left; width:750px; font-size:14px; line-height:24px;}

.tuijian3 { width:766px; float:left;}
.list_photo3 { width:730px; float:left; overflow:hidden;}
.list_photo3 ul { width:800px;}
.list_photo3 li { width:230px; float:left; padding-right:20px; text-align:center; line-height:30px; font-size:14px; margin-bottom:25px;}
.list_photo3 li img { margin-bottom:10px;}

.list_img:last-child { margin-bottom:0;}
.center_text2 { overflow:hidden;}
.center_block { width:730px; overflow:hidden; border-bottom:dashed 1px #ccc; padding-bottom:30px; margin-bottom:20px;}
.center_block h5 { font-size:20px; line-height:32px; padding:16px 0 26px;}
.center_block span { font-size:14px; line-height:32px; display:block;}
.center_block:last-child { border-bottom:0;}

.center_box { overflow:hidden; margin-bottom:40px;}
.center_box h1 {  text-align:center; line-height:64px; font-size:28px;}
.center_box span { text-align:center; line-height:30px; font-size:14px; display:block; margin-bottom:40px;}
.center_box p { font-size: 15px; line-height: 33px;}
.center_box img { margin-bottom:10px;}